/*==============================================================

Interactions

File: SCSS Partial (/scss/partials/_interactions.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Pagination styles
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Feedback
  -------------------------------------------------------- */

.feedback {
	@include border-radius($space/2);
	@include inline-block;
	background-color: $clr-success;
	color: rgb(255,255,255);
	font-weight: 100;
	font-size: $fnt-med;
	padding: $space/2 $space;
	margin: $space 0;
	background-clip: padding-box;

	p {
		margin: 0;
		padding: 0;
	}
}

.is-success {
	&.field {
		border: 1px solid $clr-success;
	}
}

.success-label {
	color: $clr-success;
}

/* Errors
  -------------------------------------------------------- */

.error {
	background-color: $clr-error;
}

.is-error {
	&.field {
		border: 1px solid $clr-error;
	}
}

.error-label {
	color: $clr-error;
}