/*==============================================================

Main

File: SCSS Partial (/scss/partials/_main.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Base rules on HTML element
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Base
  -------------------------------------------------------- */

  html {
    background: $clr-site-bckgrd;
    color: $base-clr;
    font: #{$base-fnt-size}/#{$base-line-height} $base-fnt;
		font-style: normal;
		font-weight: 400;    
    -webkit-text-size-adjust: 100%;
		-ms-word-wrap: break-word;
		word-wrap: break-word;    
  }