/*==============================================================

Forms

File: SCSS Partial (/scss/base/_forms.scss)
Compiled to: css/style.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Forms
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Base
  -------------------------------------------------------- */

form > div {
	margin-bottom: $space;
}

form ol, form ul {
	list-style: none;
	margin-left: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

label {
	display: block;
	padding-bottom: $space/4;
	font-weight: $fnt-weight-bold;
}

legend {
	font-weight: $fnt-weight-bold;
	margin-bottom: $space/2;
}

button, input, select, textarea {
	@include box-sizing(border-box);
	color: $clr-primary;
  font-family: inherit;
  font-size: 100%;
  line-height: normal; 
  margin: 0 0 $space 0;
}

input, textarea {
	border: none;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
	-webkit-appearance: none;
}

button, input[type="submit"] {
	cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;	
}

button::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
  border: 0;
  padding: 0;
}
 
input:focus, 
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
  outline: none;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.3em;
}



/* Screen readers
  -------------------------------------------------------- */
	
	.screen-reader-text {
		display: none;
	}


/* Fields
  -------------------------------------------------------- */

	.field {
		@include border-radius(5px);
		@include single-transition(all, 0.2s, ease-in-out);
		border: 1px solid $clr-keyline;
		padding: $space/2;
		margin-bottom: $space;
		width: 100%;
		
		&:hover, &:focus {
			border: 1px solid darken($clr-keyline, 25%)
		}
	}


/* Search forms - custom search button using Font Awesome
  -------------------------------------------------------- */
	
	.search-form {

		input {
			@include box-sizing(border-box);
		  float: left;
		  overflow: hidden;		
		}

		button {
			background: none;
		  padding: 0;
		  margin: 0;
		  border: none;
		  cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			width: auto;
		  

			&:before {
  			content: "\f002";
  			color: $clr-primary;
  			font-family: 'FontAwesome';
  			font-size: 18px;
  		}		  	
		}
	}



/* Radio buttons
  -------------------------------------------------------- */

.list-options {
	list-style: none;
	margin: 0;
	padding: 0;
}