/*==============================================================

Media

File: SCSS Partial (/scss/partials/_media.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Image and video content
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Images
  -------------------------------------------------------- */

img, video, object {
	height: auto;
	max-width: 100%;
}

iframe {
	margin-bottom: $space;
}

figure {
	margin-bottom: $space;
	
	img {
		margin-bottom: $space/4;
	}
}

figcaption {
	font-style: italic;
}
