/*==============================================================

Global Classes

File: SCSS Partial (/scss/base/_global-classes.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Generic helper classes
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Clearfix
  -------------------------------------------------------- */

  .group {
    *zoom: 1;
  }

  .group:before, .group:after {
    content: "";
    display: table;
  }

  .group:after {
    clear: both;
  }


/* Alignment
  -------------------------------------------------------- */

  .align-r {
    text-align: right;
  }

  .align-l {
    text-align: left;
  }

  .align-c {
    text-align: center;
  }  

  .float-r {
    float: right;
  }

  .float-l {
    float: left;
  }


/* Hiding
  -------------------------------------------------------- */

  .is-hidden {
    display: none !important;
    visibility: hidden !important;
  }

  .hide-sml {
    @media #{$bp-sml} {
      display: none;
    }
  }

  .hide-med {
    @media #{$bp-med} {
      display: none;
    }
  }

  .hide-lrg {
    @media #{$bp-lrg} {
      display: none;
    }
  }  




