/*==============================================================

Articles

File: SCSS Partial (/scss/partials/_articles.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Article styles
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Boxes
  -------------------------------------------------------- */

	.box {
		@include border-radius($space);
		background: $clr-bckgrd;
		border: 5px solid rgb(255,255,255);
		color: $clr-primary;
		padding: $space;
		margin-bottom: $space;

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}

		h2 {
			border-bottom: 1px dashed $clr-keyline;
			padding-bottom: $space/3;
		}

		select {
			margin-bottom: 0;
		}		
	}

	// Highlight boxes
	.box--highlight {
		@extend .box;

		.block--site-header & {
			border: 0;
		}
	}

	// Lighter boxes
	.box--highlight_light	{
		@extend .box;
		background: $clr-secondary-tint70;
		color: $clr-inverse;
	}

	// Product boxes
	.box--product {
		@extend .box;
	}	

	.box--internal {
		@extend .box;
		background: rgba(255,255,255,.5);
		border: 0;
		clear: both;
		margin: $space 0 0 0;
	}

/* Images
  -------------------------------------------------------- */

	.box-image {
		border: 1px solid $clr-keyline;
		line-height: 1;
		padding: $space/2;
	}

	.box-image--left {
		@extend .box-image;
		float: left;
		margin: $space/2 $space $space 0; // Adding a small top margin to align top image to top paragraph - http://stackoverflow.com/questions/6409905/how-to-prevent-line-height-from-adding-a-margin-in-the-top
	}

	.box-image-plain {
		float: right;
	}
	