/*==============================================================

Flexslider

File: SCSS Partial (/scss/objects/_woo-flexslider.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Primary, secondary & tertiary navigations
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Homepage slider
  -------------------------------------------------------- */

.flexslider { 
  margin-top: $space;
  text-align: center;

  &.box {
    padding: 0;
  }

  img {
    @include border-radius($space);
  }
}

.flex-direction-nav a {
  height: 60px;
}

.slider-title {
  background: rgba(0,0,0,0.6);
  color: #fff;
  font-style: normal;
  font-weight: 100;  
  font-size: $fnt-med;
  line-height: 1.4;
  padding: $space/2;
}
