/*==============================================================

Style

File: SCSS Partial (style.scss)
Compiled to: style.css.liquid
Created: 13/01/2014
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Placeholder file for all SCSS imports
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/*  Compass
  -------------------------------------------------------- */

@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";


/*  Generic
  -------------------------------------------------------- */

@import "generic-variables";
@import "generic-mixins";
@import "generic-normalize"; 


/*  Base
  -------------------------------------------------------- */

@import "base-main";
@import "base-global-classes";
@import "base-lists";
@import "base-links";
@import "base-forms";
@import "base-media";
@import "base-tables";
@import "base-text";
@import "base-headings";
@import "base-print";
@import "base-pagination";
@import "base-interaction";


/*  Objects
  -------------------------------------------------------- */

@import "objects-branding";
@import "objects-navigation";
@import "objects-buttons";
@import "objects-layout";
@import "objects-articles";
@import "objects-boxes";
@import "objects-products";
@import "objects-social";
@import "objects-woo-flexslider";